#terrain {
	position: relative;
	width: 800px;
	height: 800px;
	background-image: url(../asset/herbe.jpg);
}
#chat {
	position: absolute;
	top: 0px;
	left: 0px;
	transition: top 1s, left 1s;
}
#souris {
	position: absolute;
	top: 0px;
	left: 700px;
	transition: top 1s, left 1s;
}