#eau{
    background-image: url(../asset/eau.svg);
    width: 800px;
    height: 450px;
    position: relative;
    overflow: hidden;
}
#pingouin {
    position: absolute;
    transition: top 1s;
  }
  .poisson {
	position: absolute;
	left: 840px;
    transition: left 2s;
    transition-timing-function: linear;
}
.phoque {
	position: absolute;
	left: 840px;
    transition: left 2s;
    transition-timing-function: linear;
}
